
/* /////////////ADOPTABLES and SHOP GRID////////////// */


.adoptables .shop {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}
.item-1
  .item-2
  .item-3
  .item-4
  .item-5
  .item-6
  .item-7
  .item-8
  .item-9
  .item-10 {
  max-width: 100%;
  height: auto;
}


/* /////////////ABOUT and CONTACT GRID////////////// */


.staff {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}
.staff-1
.staff-2
.staff-3
.staff-4 
.staff-5
.staff-6{
  max-width: 100%;
  height: auto;