:root {
  --dark-blue: #066577;
  --light-green: #b8df9e;
  --light-blue: #c0e4f4;
  --gray: #7e9092;
  --pink: #df1f86;
  --teal: #4dc5d6;
  --dark-gray: #303435;
}

/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Tajawal", sans-serif;
  padding: 0px;
  margin: 0;
  color: #303435;
}

h1 {
  font-size: 50px;
}

/*////////////////////////////////////////////////////////////
 /////////////HEADER IMAGE and HERO TRANSPARENCY////////////////
 /////////////////////////////////////////////////////////// */

.shop-transparency {
  width: 100%;
  height: 550px;
  background: linear-gradient(
      to right,
      rgba(223, 31, 134, 0.710504270067402) 0%,
      rgba(184, 223, 158, 0.7301121132046569) 60%,
      rgba(192, 228, 244, 0.5536415249693627) 95%
    ),
    url("../img/hero_bird.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

.adoptables-transparency {
  width: 100%;
  height: 550px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.46680679107580536) 65%,
      rgba(223, 31, 134, 1) 100%
    ),
    url("../img/hero_person_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

.about-transparency {
  width: 100%;
  height: 550px;
  background: linear-gradient(
      to right,
      rgba(223, 31, 134, 1) 0%,
      rgba(184, 223, 158, 0.466806791075805361) 60%,
      rgba(192, 228, 244, 1) 95%
    ),
    url("../img/hero_kids_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

.programs-transparency {
  width: 100%;
  height: 550px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(223, 31, 134, 0.710504270067402) 0%,
      rgba(192, 228, 244, 0.5536415249693627) 95%
    ),
    url("../img/hero_woman_horse.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

.home-transparency {
  width: 100%;
  height: 550px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.46680679107580536) 65%,
      rgba(223, 31, 134, 1) 100%
    ),
    url("../img/hero_cutie_pup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

/* //////////////////////////////////////////////////////////
//////////////////////KAT ||  NAV/////////////////////////
//////////////////////////////////////////////////////////// */

.nav {
  display: flex;
  background: white;
  font-family: "Tajawal", sans-serif;
  width: auto;
  height: 100px;
  align-content: center;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 0;
  margin-bottom: 50px;
}
.mobile-nav {
  display: none;
}
.mobile-logo {
  display: none;
}
.nav a {
  display: inline-flex;
  padding: 60px 30px;
  text-decoration: none;
  color: #066577;
}
.nav a:hover {
  color: #4dc5d6;
}

.nav div {
  position: relative;
  float: left;
}

.donate ul {
  position: absolute;
  top: 75px;
  display: none;
}

.donate:hover ul {
  display: block;
}

.donate ul li {
  padding: 10px;
}
.nav-logo {
  margin-top: 30px;
}

/* //////////////////////////MARY || ADOPTABLES//////////////////////////////////////////////////////////////////////////////////////////////// */ 

.adopt-leftcolumn {
  float: left;
  width: 75%;
  margin: 0;
}

.adopt-rightcolumn {
  float: left;
  width: 25%;
  background-color: #c0e4f4;
  padding-left: 20px;
  margin: 0;
}

.shop-leftcolumn {
  float: left;
  width: 75%;
  margin: 0;
}

.shop-rightcolumn {
  float: left;
  width: 25%;
  background-color: #c0e4f4;
  padding-left: 20px;
  margin: 0;
}

.adoptables-wrapper {
  width: 500px;
  position: relative;
}

.adopt-overlay {
  position: absolute;
  opacity: 0;
  transition: all 300ms ease;
  background: rgba(224, 31, 134, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
}
.adopt-img {
  display: block;
}

.adopt-1:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-2:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-3:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-4:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-5:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-6:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-7:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-8:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-9:hover .adopt-overlay {
  opacity: 0.5;
}

.adopt-10:hover .adopt-overlay {
  opacity: 0.5;
}

.adoptables-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.shop-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.donate-block {
  width: 100%;
  height: auto;
  color: white;
  align-content: center;
}

.adopt-button {
  background-color: #df1f86;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  width: 100%;
}

.adopt-button:hover {
  background-color: #22676e;
  color: #a5aaaa;
}

.testimonial-rail {
  font-size: 20px;
  margin: 0;
}

.shop-zoom:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
}

/*//////////////////////////////////////////////////////////////
///////////////////JULIANNE ||  ABOUT and CONTACT ///////////////////////////////////////////////////////////////////////////// */

.about-leftcolumn {
  float: left;
  width: 75%;
  /* margin: 0; */
  padding-left: 0;
}

.about-rightcolumn {
  float: left;
  width: 25%;
  background-color: #c0e4f4;
  padding-left: 20px;
  margin: 0;
}

.profile {
  position: relative;
}

.staffoverlay {
  position: absolute;
  padding: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(79, 79, 153, 0.38);
  opacity: 0;
  transition: all 300ms ease;
}

img,
.staffoverlay {
  border-radius: 4px;
}

img {
  display: inline;
  max-width: 100%;
  /*  border-radius: */
}

.profile:hover .staffoverlay {
  opacity: 4;
}

.staff-wrapper {
  width: 350px;
  padding: 25px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
  display: inline-block;
}

.map {
  float: left;
  margin-top: 4px;
  padding: 15px;
  position: relative;
}

.hours-wrapper {
  width: 400px;
  padding: 0;
  /* margin-bottom: 10px; */
  display: inline-block;
}

.hours {
  padding: 20px;
  /* position: relative; */
}

.aboutheading {
  background-color: white;
  padding: 25px;
  margin: 0;
}

.about_ambass {
  background-color: white;
  padding: 20px;
  margin-top: 0;
}

.aboutlocation {
  padding: 20px;
  margin-top: 0;
}

.about_rightrail {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.petdrive {
  font-size: 17px;
  color: #df1f86;
}

.fa-instagram-about {
  color: #303435;
  background: white;
}

/*/////////////////////////////////////////////////////////////////////////////////JULIANNE ||  ANNUAL REPORT///////////////////////////////////////////////////////////////////////////// */

.report_photo_1 {
  padding: 25px;
  width: 500px;
}

.report_photo-2 {
  padding: 20px;
  width: 400px;
  margin: 48px;
}

.reporttitle {
  text-align: center;
  margin: 30px;
  padding: 0px;
  margin-bottom: 0;
}

/*//////////////////////////////////////////////////////////////
///////////////////JULIANNE ||  HOLIDAY///////////////////////////////////////////////////////////////////////////// */

.holiday_heading {
  background-color: rgb(66, 116, 66);
  padding: 20px;
  margin-top: 20px;
}

.drive_photos {
  position: relative;
}

img {
  border-radius: 4px;
}

img {
  display: block;
  /*  border-radius: */
}

.holiday-wrapper {
  width: 300px;
  /*border: 3px solid #333;*/
  padding: 5px;
  margin-bottom: 10px;
  /*border-radius: 5px;*/
  display: inline-block;
}

.holidaygallery {
  color: #b8df9e;
}
/* ///////////////////////////////////////////////////////////////////////////////////////LUKEE || Home-FOOTER/////////////////////////////////////////////////////////////////////////////////////////// */
/* Create four equal columns that floats next to each other */

.footer-column-1 {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 37px;
  margin-bottom: 0px;
}

.footer-column {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 35px;
}
.footer-column-2 {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 35.4px;
}
a:hover {
  color: #066577;
}
.social1 {
  float: left;
  width: 25%;
  line-height: 35px;
  color: rgb(245, 243, 238);
  background-color: black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 109px;
}
.social1 a {
  padding-left: 5px;
}
.row2 {
  padding-bottom: 34px;
  height: 5px;
  background-color: rgb(7, 7, 10);
  clear: both;
}
/* /////////////////////////////////////////////////////////////////About-Footer/////////////////////////////////////////////////  */
.footer-column-1-about {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 51px;
  margin-bottom: 0px;
}

.footer-column-about {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 75px;
}
.footer-column-2-about {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 69.4px;
}
.social1-about {
  float: left;
  width: 25%;
  line-height: 35px;
  color: rgb(245, 243, 238);
  background-color: black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 110.5px;
}
.social1-about a {
  padding-left: 5px;
}
.row2-about {
  padding-bottom: 34px;
  height: 5px;
  background-color: rgb(7, 7, 10);
  color: rgb(253, 247, 247);
  clear: both;
}
/* ////////////////////////////////////////////////////////////////////////////Adoptables-Footer////////////////////////////////////// */ 
.footer-column-1-adopttables {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 51px;
  margin-bottom: 0px;
}

.footer-column-adopttables {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 75.4px;
}
.footer-column-2-adopttables {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 70px;
}
.social1-adopttables {
  float: left;
  width: 25%;
  line-height: 35px;
  color: rgb(245, 243, 238);
  background-color: black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 111px;
}
.social1-adopttables a {
  padding-left: 5px;
}
.row2-adopttables {
  padding-bottom: 34px;
  height: 5px;
  background-color: rgb(7, 7, 10);
  color: rgb(253, 247, 247);
  clear: both;
}
/* ////////////////////////////////////////////////////////////////////////////////////Shop-Footer//////////////////////////////////////////////// */
.footer-column-1-shop {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 51px;
  margin-bottom: 0px;
}

.footer-column-shop {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 75.4px;
}
.footer-column-2-shop {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 70px;
}
.social1-shop {
  float: left;
  width: 25%;
  line-height: 35px;
  color: rgb(245, 243, 238);
  background-color: black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 111px;
}
.social1-shop a {
  padding-left: 5px;
}
.row2-shop {
  padding-bottom: 34px;
  height: 5px;
  background-color: rgb(7, 7, 10);
  color: rgb(253, 247, 247);
  clear: both;
}
/* ///////////////////////////////////////////////////////////////////////////////////Programs-Footer////////////////////////////////////// */ 
.footer-column-1-programs {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 55px;
  margin-bottom: 0px;
}

.footer-column-programs {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 88px;
}
.footer-column-2-programs {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 25px;
  color: rgb(245, 243, 238);
  background-color: black;
  padding-bottom: 82.5px;
}
.social1-programs{
  float: left;
  width: 25%;
  line-height: 35px;
  color: rgb(245, 243, 238);
  background-color: black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 111px;
}
.social1-programs a {
  padding-left: 5px;
}
.row2-programs {
  padding-bottom: 34px;
  height: 5px;
  background-color: rgb(7, 7, 10);
  color: rgb(253, 247, 247);
  clear: both;
}
/* ///////////////////////////////////////////////////////////////////////////////Home css////////////////////////////////////////////// */
.home-rightcolumn {
  position: relative;
  float: right;
  right: 12px;
  width: 25%;
  margin-top: 5px;
}
.puppy-button img {
  float: left;
  position: fixed;
  clear: both;
}
.card3 {
  height: 100%;
  width: 100%;
  line-height: 100px;
  margin-top: 50px;
}
.flex-containerhome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.flex-containerhome > div {
  background-color: #df1f86;
  color: #df1f86;
  width: 100%;
  height: 100%;
  text-align: center;
}
.flex-containerhome img {
  justify-content: center;
  margin-left: 500px;
  margin-top: 25px;
}
.puppy img {
  margin-left: 400px;
}
.test > p {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: #a41360;
}
.profile {
  position: relative;
}
.home-imgoverlay {
  position: absolute;
  padding: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(79, 79, 153, 0.38);
  opacity: 0;
  transition: all 300ms ease;
}

.home-wrapper {
  width: 350px;
  padding: 25px;
  margin-bottom: 10px;
  display: inline-block;
}

.flex-containerhome2 {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-containerhome2 > div {
  background-color: #bfa1fc;
  width: 30%;
  height: 30%;
  margin: 35px;
  margin-left: 10px;
  text-align: center;
  line-height: 65px;
  flex-basis: content;
}
#home-title-text {
  text-align: center;
  font-family: "Caveat", cursive;
}

.flex-containerhome3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #df1f86;
  color: white;
  margin-top: 15px;
}

.flex-containerhome3 > div {
  background-color: #df1f86;
  color: #df1f86;
  width: 100px;
  height: 5px;
  text-align: center;
  margin-right: 400px;
}

/* //////////////////////////////////////////////////////////////////////////////////////LUKEE || PAY CSS/////////////////////////////////////////////////////////////////////////////////////////// */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: rgb(95, 100, 185);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #c75900;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* /////////////////////////////////////////////////////////////////////////////////////KAT || PROGRAMS CSS//////////////////////////////////////////////////////////////////////////////////////// */

.programs-header {
  text-transform: uppercase;
  text-align: center;
}
.programs-container {
  padding-top: 30px;
  width: 100%;
}
.programs-card {
  background: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.program-img {
  padding: 0px;
  margin-bottom: 10px;
}
.programs-adopt-card {
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}
.past-programs {
  margin-left: 60px;
}
.past-programs-header {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.past-programs-card {
  width: 200px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.past-programs-img {
  width: 200px;
  padding: 10px;
}
