/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Tajawal", sans-serif;
  padding: 0px;
  margin: 0;
}

/* /////////////NAV///////////////// */

/* /////////////HEADER IMAGE and TRANSPARENCY//////////////// */

.adoptables-color-transparency {
  width: 100%;
  height: 650;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.46680679107580536) 65%,
      rgba(223, 31, 134, 1) 100%
    ),
    url("../img/hero_person_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: center;
}

.shop-color-transparency {
  width: 100%;
  height: 650;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.46680679107580536) 65%,
      rgba(223, 31, 134, 1) 100%
    ),
    url("../img/hero_bird.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: center;
}

.header {
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  float: center;
  /* margin-top: 0px;
  padding-top: 0px; */
}

/* /////////////ICONS///////////////// */
.fa-envelope-square {
  font-size: 25px;
}

.fa-heart {
  color: #df1f86;
}
/* Header/Blog Title */
/* .header {
  background-size: cover;
  background-repeat: no-repeat;
  float: center;
  background-color: #0e090900;
  margin: 0px;
  padding: 0px;
}

.header h1 {
  font-size: 50px;
} */

/* Style the top navigation bar */
/* .nav {
  overflow: hidden;
  background-color: rgba(250, 245, 245, 0);
  text-align: center;
  float: center;
  position: absolute;
} */

/* Style the topnav links */
/* .nav a {
  float: center;
  display: inline-flex;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  color: #ff5a07;
  background-color: #0e090900;
} */

/* Change color on hover */
/* .nav a:hover {
  background-color: rgba(221, 221, 221, 0);
  color: rgb(55, 26, 173);
} */

/* /////////////////////COLUMNS//////////////////////// */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #c0e4f4;
  padding-left: 20px;
}
/* Fake image */
/* .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
} */

/* Add a card effect for articles */
/* .card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Footer */
/* .footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
} */

/* .fa {
  padding: 5px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 6px;
} */
/* .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */
