:root {
  --dark-blue: #066577;
  --light-green: #b8df9e;
  --light-blue: #c0e4f4;
  --gray: #7e9092;
  --pink: #df1f86;
}

/* /////////////////////// */
/* /////// Resets //////// */
/* /////////////////////// */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Tajawal", sans-serif;
  padding: 0px;
  margin: 0;
}

h1 {
  font-size: 50px;
}

/*////////////////////////////////////////////////////////////
 /////////////HEADER IMAGE and HERO TRANSPARENCY////////////////
 /////////////////////////////////////////////////////////// */
.shop-transparency {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to right,
      rgba(223, 31, 134, 0.710504270067402) 0%,
      rgba(184, 223, 158, 0.7301121132046569) 60%,
      rgba(192, 228, 244, 0.5536415249693627) 95%
    ),
    url("../img/hero_bird.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
  margin: 0;
  padding: 0;
}

.adoptables-transparency {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.46680679107580536) 65%,
      rgba(223, 31, 134, 1) 100%
    ),
    url("../img/hero_person_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-transparency {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to right,
      rgba(223, 31, 134, 1) 0%,
      rgba(184, 223, 158, 0.466806791075805361) 60%,
      rgba(192, 228, 244, 1) 95%
    ),
    url("../img/hero_kids_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
}

.programs-transparency {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(223, 31, 134, 0.710504270067402) 0%,
      rgba(192, 228, 244, 0.5536415249693627) 95%
    ),
    url("../img/hero_man_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
  margin: 0;
  padding: 0;
}

.home-transparency {
  width: 100%;
  height: 650px;
  background: linear-gradient(
      to right,
      rgba(6, 101, 119, 1) 0%,
      rgba(192, 228, 244, 0.5536415249693627) 95%,
      rgba(223, 31, 134, 0.710504270067402) 0%
    ),
    url("../img/hero_man_dog.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: none;
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////COLUMNS///////////////////////////////
////////////////////////////////////////////////////////////// */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #c0e4f4;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* //////////////////////////////////////////////////////////
//////////////////////KAT ||  NAV/////////////////////////
//////////////////////////////////////////////////////////// */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.nav {
  align-content: center;
  margin-left: 240px;
  margin-right: 60px;
}
.nav a {
  display: inline-flex;
  padding: 60px 30px;
  text-decoration: none;
  color: #066577;
}
.nav a:hover {
  color: #4dc5d6;
}
/* .home {
      float: left;
  }
  .about {
      float: left;
  }
  .shop {
      float: left;
  }
  .adoptables {
      float: left;
  }
  .programs {
      float: left;
  } */
.nav div {
  position: relative;
  float: left;
}

.donate ul {
  position: absolute;
  top: 75px;
  display: none;
}

.donate:hover ul {
  display: block;
}

.donate ul li {
  padding: 10px;
}
.logo {
  float: left;
  margin-top: 30px;
}

/* ///////////////////////////////////////////////////////////
//////////////////////////ICONS//////////////////////////////////////////////////////////////////////////////////////////////// */
.fa-envelope-square {
  font-size: 50px;
}

.fa-heart {
  color: #df1f86;
}

.fa-shopping-cart {
  color: #066577;
}

/*//////////////////////////////////////////////////////////////
///////////////////JULIANNE ||  ABOUT and CONTACT ///////////////////////////////////////////////////////////////////////////// */

/*from Julianne*/
/* .btn {
  background: #b8df9e;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  box-shadow: 0px 1px 5px black;
} */

/* /////////////////////////////////////////////////////////////////////////////////////////LUKEE || HOME////////////////////////////////////////////////////////////////////////////////////////// */

.logo {
  position: absolute;
}

/* ///img gallery home page// */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(10, 7, 7);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="login"] {
  width: 100%;
  background-color: #ff5a07;
  color: rgb(246, 242, 242);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="login"]:hover {
  background-color: rgb(55, 26, 173);
}

#div1 {
  border-radius: 5px;
  background-color: #3885f1;
  padding: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////LUKEE || FOOTER/////////////////////////////////////////////////////////////////////////////////////////// */
/* Footer */
.footer {
  padding: 100px;
  text-align: left;
  background: #ddd;
  margin-top: 10px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  color: rgb(245, 243, 238);
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  padding: 5px;
  font-size: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 6px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* //////////////////////////////////////////////////////////////////////////////////////LUKEE || PAY CSS/////////////////////////////////////////////////////////////////////////////////////////// */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: rgb(95, 100, 185);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #c75900;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* /////////////////////////////////////////////////////////////////////////////////////KAT || PROGRAMS CSS//////////////////////////////////////////////////////////////////////////////////////// */
