/* ///////////////////////////////////////////////////////////////////////////////////KAT || MOBILE NAV CSS//////////////////////////////////////////////////////////////////////////////////////// */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}
/* if the screen is less than 1160px wide
@media screen and (max-width: 1160px) {
  .mobile-nav {
    display: inline;
    color: #066577;
  }
  .mobile-nav li {
    padding: 60px 30px;
    text-decoration: none;
    color: #066577;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
  .donate ul {
    position: absolute;
    display: none;
  }

  .donate:hover ul {
    display: block;
  }

  .donate ul li {
    padding: 10px;
  }
} */
/* if the screen is less than 1210px wide
@media screen and (max-width: 1210px) {
  .nav {
    align-content: center;
    margin-left: 6rem;
    margin-right: 5rem;
    width: 100%;
  }
  .logo {
    float: left;
    margin-top: 1.5rem;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
} */
/* if the screen is less than 1020px wide
@media screen and (max-width: 1020px) {
  .nav {
    align-content: center;
    margin-left: 3rem;
    margin-right: 2rem;
    width: 100%;
  }
  .logo {
    float: left;
    margin-top: 30px;
  }
  .nav a {
    display: inline-flex;
    padding: 60px 30px;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
} */
/* if the screen is less than 950px wide
@media screen and (max-width: 950px) {
  .nav {
    align-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
  }
  .nav a {
    padding: 60px 15px;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
} */
/* if the screen is less than 768px wide
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .mobile-logo {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .mobile-nav {
    display: block;
    color: #066577;
    width: 100%;
  }
  .mobile-nav div {
    height: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  a {
    color: inherit;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
} */
/* if the screen is less than 375px wide
@media screen and (max-width: 375px) {
  .nav {
    display: none;
  }
  .mobile-logo {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .mobile-nav {
    display: block;
    height: 2rem;
    width: 100%;
  }
  .mobile-nav div {
    height: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #066577;
  }

  a {
    color: inherit;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
} */

/* ////////////Responsive - Screen is less than 1400px wide ///////////*/
@media screen and (max-width: 1400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about-leftcolumn {
    width: 100%;
    margin: 0;
  }

  .about-rightcolumn {
    width: 100%;
    background-color: #c0e4f4;
    padding-left: 20px;
    margin: 0;
  }

  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }

  .shop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .programs-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .nav {
    align-content: center;
    margin-left: 6rem;
    margin-right: 5rem;
    width: 100%;
  }
  .logo {
    float: left;
    margin-top: 1.5rem;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-logo {
    display: none
  }
}

/* ///////////Responsive - Screen is less than 1000px wide ///////////*/
@media screen and (max-width: 1000px) {
  .adoptables-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.46680679107580536) 65%,
        rgba(223, 31, 134, 1) 100%
      ),
      url("../img/hero_person_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .shop-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(223, 31, 134, 0.710504270067402) 0%,
        rgba(184, 223, 158, 0.7301121132046569) 60%,
        rgba(192, 228, 244, 0.5536415249693627) 95%
      ),
      url("../img/hero_bird.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .about-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(223, 31, 134, 1) 0%,
        rgba(184, 223, 158, 0.46680679107580536) 60%,
        rgba(192, 228, 244, 1) 95%
      ),
      url("../img/hero_kids_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .programs-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(223, 31, 134, 0.710504270067402) 0%,
        rgba(192, 228, 244, 0.5536415249693627) 95%
      ),
      url("../img/hero_woman_horse.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
    margin: 0;
    padding: 0;
  }

  .home-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.5536415249693627) 95%,
        rgba(223, 31, 134, 0.710504270067402) 0%
      ),
      url("../img/hero_man_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
    margin: 0;
    padding: 0;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .programs-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;

  }
  .programs-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .program-img {
    max-width: 500px;
    max-height: 400px;
  }
  .past-programs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    /* margin-left: 80px; */
  }
  .nav {
    align-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
  }
  .nav a {
    padding: 60px 15px;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}

/* ///////////Responsive - Screen is less than 800px wide ///////////*/
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  
  .programs-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  .program-img {
    max-width: 400px;
    max-height: 300px;
  }
  .past-programs {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    /* margin-left: 80px; */
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    color: #066577;
    width: 100%;
  }
  .mobile-nav div {
    height: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  a {
    color: inherit;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
}

/* ///////////Responsive - Screen is less than 400px wide ///////////*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .programs-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .program-img {
    max-width: 300px;
    max-height: 200px;
  }
  .past-programs {
    display: inline-block;
    margin-left: 90px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    /* grid-gap: 20px; */
  }
    .nav {
      display: none;
    }
    .mobile-logo {
      margin-top: 2rem;
      margin-left: 2rem;
    }
    .mobile-nav {
      display: block;
      height: 2rem;
      width: 100%;
    }
    .mobile-nav div {
      height: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      color: #066577;
    }
    a {
      color: inherit;
    }
    .mobile-nav a:hover {
      color: #4dc5d6;
    }
  }

