/* ///////////Responsive - Screen is less than 1400px wide ///////////*/
@media screen and (max-width: 1400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .adoptables .shop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* ///////////Responsive - Screen is less than 1100px wide ///////////*/
@media screen and (max-width: 1100px) {
  .adoptables-color-transparency {
    width: 100%;
    height: 300;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.46680679107580536) 65%,
        rgba(223, 31, 134, 1) 100%
      ),
      url("../img/hero_person_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .shop-color-transparency {
    width: 100%;
    height: 300;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.46680679107580536) 65%,
        rgba(223, 31, 134, 1) 100%
      ),
      url("../img/hero_person_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .adoptables .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* ///////////Responsive - Screen is less than 400px wide ///////////*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .adoptables .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* //////////////////MOBILE NAV CSS//////////////////// */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}
/* if the screen is less than 1160px wide */
@media screen and (max-width: 1160px) {
  .mobile-nav {
    display: inline;
    color: #066577;
  }
  .mobile-nav li {
    padding: 60px 30px;
    text-decoration: none;
    color: #066577;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
  .donate ul {
    position: absolute;
    display: none;
  }

  .donate:hover ul {
    display: block;
  }

  .donate ul li {
    padding: 10px;
  }
}

/* /////////////////////////PROGRAMS MOBILE///////////////////// */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* ////////////////////////////SHOP CSS MOBILE/////////////////// */

/* //////////SHOP GRID/////////////////// */

.shop {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.item-1 .item-2 .item-3 .item-4 .item-5 .item-6 .item-7 .item-8 .item-9 {
  max-width: 100%;
  height: auto;
}

.fa-shopping-cart {
  color: #066577;
}
/* Responsive layout - when the screen is less than 1400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .shop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* Responsive layout - when the screen is less than 1100px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1100px) {
  .shop-color-transparency {
    width: 100%;
    height: 300;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.46680679107580536) 65%,
        rgba(223, 31, 134, 1) 100%
      ),
      url("../img/hero_bird.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }

  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}
