/* ///////////////////////////////////////////////////////////////////////////////////KAT || MOBILE NAV CSS//////////////////////////////////////////////////////////////////////////////////////// */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}
/* if the screen is less than 1160px wide */
@media screen and (max-width: 1160px) {
  .mobile-nav {
    display: inline;
    color: #066577;
  }
  .mobile-nav li {
    padding: 60px 30px;
    text-decoration: none;
    color: #066577;
  }
  .mobile-nav a:hover {
    color: #4dc5d6;
  }
  .donate ul {
    position: absolute;
    display: none;
  }

  .donate:hover ul {
    display: block;
  }

  .donate ul li {
    padding: 10px;
  }
}

/* ////////////Responsive - Screen is less than 1400px wide ///////////*/
@media screen and (max-width: 1400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .about-leftcolumn {
      width: 100%;
      margin: 0;
    }
    
    .about-rightcolumn {
      width: 100%;
      background-color: #c0e4f4;
      padding-left: 20px;
      margin: 0;
    }


  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }

  .shop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* ///////////Responsive - Screen is less than 1000px wide ///////////*/
@media screen and (max-width: 1000px) {
  .adoptables-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.46680679107580536) 65%,
        rgba(223, 31, 134, 1) 100%
      ),
      url("../img/hero_person_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .shop-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(223, 31, 134, 0.710504270067402) 0%,
        rgba(184, 223, 158, 0.7301121132046569) 60%,
        rgba(192, 228, 244, 0.5536415249693627) 95%
      ),
      url("../img/hero_bird.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .about-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(223, 31, 134, 1) 0%,
        rgba(184, 223, 158, 0.46680679107580536) 60%,
        rgba(192, 228, 244, 1) 95%
      ),
      url("../img/hero_kids_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
  }

  .programs-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(223, 31, 134, 0.710504270067402) 0%,
        rgba(192, 228, 244, 0.5536415249693627) 95%
      ),
      url("../img/hero_man_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
    margin: 0;
    padding: 0;
  }

  .home-transparency {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba(6, 101, 119, 1) 0%,
        rgba(192, 228, 244, 0.5536415249693627) 95%,
        rgba(223, 31, 134, 0.710504270067402) 0%
      ),
      url("../img/hero_man_dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
    margin: 0;
    padding: 0;
  }

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* ///////////Responsive - Screen is less than 800px wide ///////////*/
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .shop-leftcolumn,
  .shop-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adopt-leftcolumn,
  .adopt-rightcolumn {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}

/* ///////////Responsive - Screen is less than 400px wide ///////////*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .adoptables {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .shop {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
}
