
  
.mobile-nav li a {
     color: #066577;
float: right;
    }

.mobile-nav li a:hover {
     color: #4DC5D6;
}
.donate ul {
    position: absolute;
    display: none;
}

.donate:hover ul{
    display: block;
}

.donate ul li {
    padding: 10px;
}
.logo {
 position: relative;
}

}