
html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

ul {
list-style: none;
}

a { 
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}
/* if the screen is less than 1160px wide */
@media screen and (max-width: 1160px)
{
.mobile-nav  {
    display: inline;
    color: #066577;

}
.mobile-nav li {
     padding: 60px 30px;
     text-decoration: none;
     color: #066577;
 }
.mobile-nav a:hover {
     color: #4DC5D6;
}
.donate ul {
    position: absolute;
    display: none;
}

.donate:hover ul{
    display: block;
}

.donate ul li {
    padding: 10px;
}

}