
html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

ul {
list-style: none;
}

a { 
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}

.nav {
   align-content: center;
   margin-left: 200px;
   margin-right: 60px;

}
.mobile-nav {
    display: none;
}
.mobile-logo {
    display: none;
}
.nav a {
    display: inline-flex;
    padding: 60px 30px;
    text-decoration: none;
    color: #066577;
}
.nav a:hover {
    color: #4DC5D6;
}

.nav div {
    position: relative;
    float:left;
}

.donate ul {
    position: absolute;
    top: 75px;
    display: none;
}

.donate:hover ul{
    display: block;
}

.donate ul li {
    padding: 10px;
}
.logo {
    float: left;
    margin-top: 30px;
}
/* if the screen is less than 1210px wide */
@media screen and (max-width: 1210px)
{

.nav {
    align-content: center;
    margin-left: 6rem;
    margin-right: 5rem;
    width: 100%;
 }
.logo {
    float: left;
    margin-top: 1.5rem;
}
.mobile-nav {
    display: none;
}
.mobile-logo {
    display: none;
}
}
@media screen and (max-width: 1020px){
.nav {
        align-content: center;
        margin-left: 3rem;
        margin-right: 2rem;
        width: 100%;
     }
.logo {
        float: left;
        margin-top: 30px;
    }
.nav a {
        display: inline-flex;
        padding: 60px 30px;
     }
.mobile-nav {
        display: none;
    }
.mobile-logo {
        display: none;
    }

}
@media screen and (max-width: 950px){
    .nav {
        align-content: center;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;

    }
    .nav a {
        padding: 60px 15px;

    }
    .mobile-nav {
        display: none;
    }
    .mobile-logo {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .nav {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .mobile-nav {
        display: block;
        color: #066577;
        width: 100%;
   
    }
    .mobile-nav div {
        height: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
  }
   a {
        color: inherit;
   }
    .mobile-nav a:hover {
        color: #4DC5D6;
    }
}

/* .nav {
    margin-left: 40px;
    margin-right: 60px;
    width: 100%;
}
.nav a {
    display: inline-flex;
    padding: 60px 10px;
}
} */
/* @media screen and (max-width: 737px){
    .mobile-nav {
        display: none;
    }
    .nav {
        display: block;
        padding: 60px 10px;
    }
    nav a:hover {
        color: #4DC5D6;
    }
} */
@media screen and (max-width: 375px){
    .nav {
        display: none;
    }
    .mobile-logo {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .mobile-nav {
        display: block;
        height: 2rem;
        width: 100%;

    }
    .mobile-nav div {
        height: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        color: #066577;
    }

   a {
        color: inherit;
   }
    .mobile-nav a:hover {
        color: #4DC5D6;
    }
}
}